<configuration>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <target>System.out</target>
                <encoder>
                        <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level %msg%n</pattern>
                </encoder>
        </appender>
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
                <file>/tmp/spring-boot-sample-logger-example.txt</file>
                <encoder>
                        <charset>UTF-8</charset>
                        <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level %msg%n</pattern>
                </encoder>
        </appender>

        <root>
                <level value="INFO" />
                <appender-ref ref="STDOUT" />
                <appender-ref ref="FILE" />
        </root>
</configuration>
