<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/baseLayout :: htmlhead"
	th:with="title='Member'"></head>

<body>
	<div th:include="layout/baseLayout :: navbar"></div>

	<div class="contents">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="page-header">JGS Shopping Detail</h2>
				</div>
			</div>
			<div class="col-xs-12">
				<div th:include="layout/baseLayout :: messageArea"></div>
				<form method="POST" action="/register" th:action="@{/register}">
					<div class="col-xs-5 text-center">
						<span th:remove="all">画像表示領域</span>
						<img src="../img/ITEM000001.jpg" width="150" height="150" th:attr="src=@{/resource/product/{productCode}.jpg(productCode=${product.productCode})}" th:width="150px" th:height="150px" alt="" />
					</div>
					<div class="col-xs-7 well">
					    <div class="col-xs-4 text-right">商品コード：</div><div class="col-xs-8 text-left" th:text="${product.productCode}">商品コード</div>
					    <div class="col-xs-4 text-right">商品名：</div><div class="col-xs-8 text-left" th:text="${product.productName}">商品名</div>
					    <div class="col-xs-4 text-right">価格：</div><div class="col-xs-8 text-left" th:text="${#numbers.formatInteger(product.price,3,'DEFAULT') + ' 円'}">価格</div>
						<div class="col-xs-4 text-right">商品詳細：</div><div class="col-xs-8 text-left" th:text="${product.detail}">商品詳細</div>
						<div class="col-xs-4 text-right">在庫数：</div><div class="col-xs-8 text-left" th:text="${product.stock.stock + ' 個'}">0</div>
						<input type="hidden" name="productCode" th:value="${product.productCode}"/>
						<div>
						    <button type="submit" class="btn btn-primary">
							    <div class="glyphicon glyphicon-shopping-cart"></div>レジ
						    </button>
						</div>
					</div>
				</form>
			</div>
			<div class="clearfix"></div>

			<div class="row">
				<div class="col -lg-4">
					<br /> <br />

					<div th:include="layout/baseLayout :: footer"></div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>