<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/baseLayout :: htmlhead"
	th:with="title='Member'"></head>

<body>
	<div th:include="layout/baseLayout :: navbar"></div>

	<div class="contents">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="page-header">JGS Shopping Detail</h2>
				</div>
			</div>
			<div class="col-xs-12">
				<div th:include="layout/baseLayout :: messageArea"></div>
				<form method="POST" action="/register" th:action="@{/register}">
					<div class="col-xs-5">
						<span th:remove="all">画像表示領域</span>
						<img src="../img/ITEM000001.jpg" width="150" height="150" th:attr="src=@{/resource/product/{itemCode}.jpg(itemCode=${product.itemCode})}" th:width="150px" th:height="150px" alt="" />
					</div>
					<div class="col-xs-7 well">
						<span th:text="${product.detail}">商品詳細<br /> <br /> <br /> <br /> <br /> <br /> <br /></span>
						<input type="hidden" name="itemCode" th:value="${product.itemCode}"/>
						<button type="submit" class="btn btn-primary">
							<div class="glyphicon glyphicon-shopping-cart"></div>
							レジ
						</button>
					</div>
				</form>
			</div>
			<div class="clearfix"></div>

			<div class="row">
				<div class="col -lg-4">
					<br /> <br />

					<div th:include="layout/baseLayout :: footer"></div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>