<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/baseLayout :: htmlhead"
	th:with="title='Password'"></head>

<body>
	<div th:include="layout/baseLayout :: navbar"></div>

	<div class="contents">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="page-header">JGS Shopping Password</h2>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">パスワード変更</div>
				<div class="panel-body">

					<form method="POST" action="/index" th:action="@{/index}">
						<div class="form-horizontal">
							<div class="form-group">
								<div class="col-xs-3 text-right">
									<label for="password_old">現在のパスワード</label>
								</div>
								<div class="col-xs-8">
									<input type="password" class="form-control" id="password_old"
										name="password_old" placeholder="パスワードを入力してください" />
								</div>
							</div>
							<div class="form-group">
                                <div class="col-xs-3 text-right">
                                    <label for="password_new">新しいパスワード</label>
                                </div>
                                <div class="col-xs-8">
                                    <input type="password" class="form-control" id="password_new"
                                        name="password_new" placeholder="パスワードを入力してください" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3 text-right">
                                    <label for="password_newconfirm">新しいパスワード(確認)</label>
                                </div>
                                <div class="col-xs-8">
                                    <input type="password" class="form-control" id="password_newconfirm"
                                        name="password_newconfirm" placeholder="パスワードを入力してください" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-8">
                                    <button type="submit" class="btn btn-primary">更新</button>
                                    <button type="button" class="btn btn-default">キャンセル</button>
                                </div>
                            </div>
						</div>
					</form>
				</div>
			</div>


			<div class="row">
				<div class="col-lg-4">
					<br /> <br />

					<div th:include="layout/baseLayout :: footer"></div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>