<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/baseLayout :: htmlhead"
	th:with="title='Password'"></head>

<body>
    <script type="text/javascript">
        function confirmUpdate() {
            if (confirm('更新しますか？')) {
                document.update.submit();
            } else {
                return false;
            }
        }
    </script>
	<div th:include="layout/baseLayout :: navbar"></div>

	<div class="contents">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="page-header">JGS Shopping Password</h2>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">パスワード変更</div>
				<div class="panel-body">
				<div th:include="layout/baseLayout :: messageArea"></div>

					<form method="POST" action="/updatePassword" th:action="@{/updatePassword}" th:object="${passwordForm}" name="update">
						<div class="form-horizontal">
							<div class="form-group" th:classappend="${#fields.hasErrors('usePassword')}? 'has-error has-feedback'">
								<div class="col-xs-3 text-right">
									<label for="usePassword">現在のパスワード</label>
								</div>
								<div class="col-xs-8">
									<input type="password" class="form-control" id="usePassword" th:field="*{usePassword}"
										name="usePassword" placeholder="パスワードを入力してください" />
									<span th:if="${#fields.hasErrors('usePassword')}" th:errors="*{usePassword}" class="help-block">error!</span>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error has-feedback'">
                                <div class="col-xs-3 text-right">
                                    <label for="password">新しいパスワード</label>
                                </div>
                                <div class="col-xs-8">
                                    <input type="password" class="form-control" id="password" th:field="*{password}"
                                        name="password" placeholder="パスワードを入力してください" />
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block">error!</span>
                                </div>
                            </div>
                            <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error has-feedback'">
                                <div class="col-xs-3 text-right">
                                    <label for="confirmPassword">新しいパスワード(確認)</label>
                                </div>
                                <div class="col-xs-8">
                                    <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}"
                                        name="confirmPassword" placeholder="パスワードを入力してください" />
                                    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="help-block">error!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-8">
                                    <button type="button" class="btn btn-primary"
                                        onclick="confirmUpdate()">更新する</button>
                                    <a href="/menu" th:href="@{/menu}" class="btn btn-default">キャンセル</a>
                                </div>
                            </div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<br /> <br />

					<div th:include="layout/baseLayout :: footer"></div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>