<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/baseLayout :: htmlhead"
	th:with="title='Register'">
</head>


<body>
	<script type="text/javascript">
		function confirmRegister() {
			if (confirm('購入しますか？')) {
				document.register.submit();
			} else {
				return false;
			}
		}
	</script>
	<div th:include="layout/baseLayout :: navbar"></div>

	<div class="contents">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">JGS Shopping Register</h2>
				</div>
			</div>

			<form method="POST" action="/completion" th:action="@{/completion}"
				name="register">
				<div class="panel panel-primary" th:object="${product}">
					<div class="panel-heading">商品購入ページ</div>
					<div class="panel-body">
						<div class="strong">購入商品</div>
						<br />
						<table class="table table-striped table-hover">
							<tbody>
								<tr>
									<td class="col-xs-2"><span th:text="*{productCode}">商品ID1</span></td>
									<td class="col-xs-2"><img src="../img/ITEM000001.jpg" width="150" height="150" th:attr="src=@{/resource/product/{productCode}.jpg(productCode=*{productCode})}" th:width="40px" th:height="40px" alt="" /></td>
									<td class="col-xs-2"><span th:text="*{productName}">商品名1</span></td>
									<td class="col-xs-3"><span th:text="*{detail}">詳細1</span></td>
									<td class="col-xs-3">個数：<input type="text" id="order_quantity" th:field="${orderForm.quantity}" name="customer_name"/></td>
								</tr>
							</tbody>
						</table>
						<br />
						<div class="strong">発送先</div>
						<br />
						<div class="form-group">
							<div class="radio">
								<label><input type="radio" name="address" />登録済みの住所に発送する。</label>
							</div>
						</div>
						<br />
						<div class="row text-center">
							<input type="hidden" name="productCode" th:value="*{productCode}"/>
							<button type="button" class="btn btn-primary"
								onclick="confirmRegister()">購入する</button>
							<a href="/menu" th:href="@{/menu}" class="btn btn-default">キャンセル</a>
						</div>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-lg-4">
					<br /> <br />

					<div th:include="layout/baseLayout :: footer"></div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>